<!DOCTYPE html>
<html ng-app="JobApp">
  <head>
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
  </head>
  <body ng-controller="applicantController">
	  
    <div class="container">
      <h1>Applicants</h1>
      <ul id="applications" class="list-unstyled">
        <li>Applicants should go here.</li>
        <div class="person" ng-repeat="person in allApplicants">
        <div class="remove-btn btn btn-small btn-danger" ng-click="removePerson($index)">X</div>
            <h3>{{person.name}}</h3>
            <p>id: {{person._id}}</p>
            <p><span class="subject">short bio:</span> {{person.bio}}</p>
            <h4>Skills</h4>
            <ul ng-repeat="skill in person.skills">
              <li>{{skill}}</li>
            </ul>
            <p><span class="subject">years of experience: </span>{{person.years}}</p>
        </div>
      </ul>
    </div>
	  
	<script src="/javascripts/main.js"></script>

  </body>
</html>